{% extends 'base.html' %}
{% block title %}People Manager{% endblock %}

{% block body %}
<div>
    <h2>Welcome to People Manager</h2>
      <div>
          <table>
            {% for user in users %}
                <tr>
                    <td>{{user.user_id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.birthday}}</td>
                    <td>{{user.zip_code}}</td>
                    <td><button>edit</button></td>
                <td><button>delete</button></td>
                </tr>
            {% endfor %}
        </table>
      </div>
      <div>
          <form action="/" method="POST">
              <input type="text" id="name" name="name" placeholder="Name">
              <input type="text" id="email" name="email" placeholder="Email">
              <input type="date" id="birthday" name="birthday" placeholder="Birthday">
              <input type="number" id="zip_code" name="zip_code" placeholder="Zip Code">
              <button type="submit">Save</button>
          </form>

      </div>
</div>
{% endblock %}