{% extends 'base.html' %}
{% block title %}People Manager{% endblock %}

{% block body %}
  <h2>Welcome to People Manager</h2>

  <table>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Email</th>
    <th>Birthday</th>
    <th>Zip Code</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>0</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>00000</td>
    <td><button>edit</button></td>
    <td><button>delete</button></td>
  </tr>
  <tr>
    <td>1</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>00000</td>
    <td><button>edit</button></td>
    <td><button>delete</button></td>
  </tr>
</table>
{% endblock %}